* {
  box-sizing: content-box;
}

html {
  width: 100%;
  height: 100%;
  font-family: "Comic Neue", cursive;
  font-size: 24px;
}

body {
    display: flex;
    background-color: rgb(80, 126, 211);
}

.Player_side , .Ai_Side {
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;
  width: 50%;
  height: 90vh;
  gap: 10px;
}

.Randomize {
  width: 150px;
  height: 25px;
  font-family: "Comic Neue", cursive;
  margin-top: 10px;
  border-radius: 5px;
  border-style: none;
}

.Randomize:active {
  color: gray;
}

.PlayerBoard , .AIBoard{
  display: grid;
  grid-template-rows: repeat(10);
  grid-template-columns: repeat(10);
  margin-top: 10px;
  width: 475px;
  height: 475px;
  border: 1px solid black;
}

.Board-Row-Style {
  display: flex;
  border: 1px solid black;
}

.Board-Cell-Style {
  width: 10%;
  border: 1px solid black;
}

.Board-Cell-Style:hover {
  background-color: rgb(232, 224, 224);
}

.CurrentTurn {
  display: flex;
  font-size: 28px;
  width: 200px;
  justify-content: center;
}