html {
  width: 100%;
  height: 100%;
  font-family: "Comic Neue", cursive;
  font-size: 24px;
}

body {
    display: flex;
}

.Player_side , .Ai_Side {
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;
  width: 50%;
  height: 90vh;
  gap: 10px;
}

.Randomize {
  width: 150px;
  height: 25px;
  font-family: "Comic Neue", cursive;
  margin-top: 10px;
}

.PlayerBoard , .AIBoard{
    margin-top: 10px;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}
